<template>
  <div class="app" id="app">
    <div class="app__wrapper">
      <Header title="Экскурсии по&nbsp;всему миру" />
      <main class="app__main">
        <Form :cities="cities" :categories="categories" />

        <NotFound :request="request" v-if="notFound"/>
        <CardList :items=products />
      </main>
    </div>
  </div>
</template>

<script>
import Header from './Header';
import Form from './Form';
import CardList from './CardList';
import NotFound from './NotFound';

import { HTTP } from './utils';

export default {
  name: 'app',
  data: () => ({
    request: '',
    notFound: false,
    cities: [],
    products: [],
    categories: []
  }),
  components: {
    Header,
    Form,
    CardList,
    NotFound
  },
  created() {
    HTTP
      .get('cities')
      .then(response => (this.cities = response.data))
      .catch(error => console.log(error))
  }
}
</script>

<style lang="scss">
@import '../styles/reset';

.app {
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;

  &__wrapper {
    margin: 50px auto 45px;
    width: 100%;
    max-width: 1260px;
    padding: 0 15px;

    @media (min-width: 480px) {
      margin: 100px auto 90px;
    }
  }
}
</style>
