<template>
  <button class="button" type="button">
      <span class="button__text">{{ text }}</span>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: String
  }
}
</script>

<style lang="scss">
.button {
  padding: 0 45px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  background: 0 0;
  border: 1px solid rgba(#0066ff, .3);
  height: 50px;
  border-radius: 2px;
  font-size: 14px;
  color: #0066ff;
  cursor: pointer;
  user-select: none;
  min-width: 160px;
  justify-content: center;
  transition: all .2s;
  -webkit-appearance: none;

  &:hover {
    opacity: .5;
  }

  &:active {
    transform: translateY(2px);
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
</style>
