<template>
  <section class="card-list" v-if="items && items.length">
      <Card
        v-for="item of items"
        :key="item.id"
        :title=item.title
        :price=item.price
        :url=item.url
        :thumb=item.image_big
        :reviews=item.reviews
        :rating=item.customers_review_rating
      />
  </section>
</template>

<script>
import Card from './Card';

export default {
  name: 'CardList',
  props: {
    items: Array
  },
  components: {
    Card
  }
}
</script>

<style lang="scss">
.card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-row-gap: 25px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 990px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
