<template>
  <article class="card">
    <a class="card__thumb" v-bind:href=url rel="nofollow noopener" :title="title" target="_blank">
      <img v-bind:src=thumb :alt="title" class="card__img">
    </a>
    <div class="card__content">
      <h3 class="card__title">{{ title }}</h3>

      <footer class="card__footer">
        <div class="card__price">
            <p class="card__cost">{{ price.replace('.00', '') }}</p>
            <small class="card__caption">за человека</small>
        </div>

        <div class="card__rating">
          <Rating v-bind:rating=Math.round(rating)  />
          <small class="card__caption card__caption_size_l">{{ reviews }} {{ this.declOfNum(reviews, ['отзыв', 'отзыва', 'отзывов']) }}</small>
        </div>
      </footer>
    </div>
  </article>
</template>

<script>
import Rating from './Rating';

export default {
  name: 'Card',
  props: {
    url: String,
    title: String,
    price: String,
    thumb: String,
    reviews: Number,
    rating: Number
  },
  components: {
    Rating
  },
  methods: {
    declOfNum(number, titles) {
      const cases = [2, 0, 1, 1, 1, 2];

      return titles[(number % 100 >4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    },
    getRating(rating) {
      return Math.round(rating);
    }
  }
}
</script>

<style lang="scss">
.card {
  position: relative;

  &__thumb {
    display: block;
    overflow: hidden;
    height: 200px;
    margin-bottom: 11px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    $font-size: 16px;
    $line-height: (22 / 16);
    $line-clamp: 2;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    font-weight: 700;
    font-size: $font-size;
    line-height: $line-height;
    height: $font-size * $line-height * $line-clamp;
    margin-bottom: 16px;
  }

  &:hover &__title {
    color: #2762f4;
  }

  &__price {
    min-width: 100px;
    margin-right: 7px;
    flex: none;
  }

  &__cost {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 2px;
  }

  &__caption {
    color: #999;
    font-size: 12px;
    line-height: (22 / 12);

    &_size_l {
      font-weight: 700;
      font-size: 13px;
      line-height: (22 / 13);
    }
  }

  &__footer {
    display: flex;
    align-items: flex-end;
  }
}
</style>
