<template>
  <form class="form">
    <Input placeholder="Город" :items="cities" filterBy="name" />
    <Input placeholder="Места, объекты, названия" :items="categories" filterBy="name" />
  </form>
</template>

<script>
import Input from './Input';

export default {
  name: 'Form',
  props: {
    cities: Array,
    categories: Array
  },
  components: {
    Input
  }
}
</script>

<style lang="scss">
.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  max-width: 835px;
  margin: 0 auto 62px;
  grid-row-gap: 25px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto 124px;
  }
}
</style>
