<template>
  <header class="header">
    <img src="./../assets/logo.svg" alt="«Спутник»" class="header__logo">
    <h1 class="header__title" v-html="title"></h1>
  </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    title: String
  }
}
</script>

<style lang="scss">
.header {
  margin-bottom: 45px;
  text-align: center;

  @media (min-width: 480px) {
    margin-bottom: 93px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: (58 / 48);

    @media (min-width: 480px) {
      font-size: 48px;
    }
  }
}
</style>
