<template>
  <section class="not-found">
    <p class="not-found__text">К сожалению, мы ничего не нашли по запросу “{{ request }}”.</p>
    <Button text="Сбросить" />
  </section>
</template>

<script>
import Button from './Button';

export default {
  name: 'NotFound',
  props: {
    request: String
  },
  components: {
    Button
  }
}
</script>

<style lang="scss">
.not-found {
  text-align: center;

  &__text {
    color: #999;
    font-size: 20px;
    line-height: (28 / 22);
    margin-bottom: 47px;
  }
}
</style>
